/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'HaloCE';
  src: url('./assets/fonts/HandelGothicRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Colors */
:root {
  --black: #000000;
  --white: #FFFFFF;

  --bungie-dark-blue: #14345A;
  --bungie-light-blue: #3FA2FC;
}


html {
  background-color: #050813;
}

h1, h2 {
  font-family: 'HaloCE', sans-serif;
  font-weight: 400;
  color: #ffffff;
}