/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'HaloCE';
  src: url('./assets/fonts/HandelGothicRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #050813;
}

h2 {
  font-family: 'HaloCE', sans-serif;
  font-weight: 400;
  color: #ffffff;
}