/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'HaloCE';
  src: url('./assets/fonts/HandelGothicRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Colors */
:root {
  --black: #000000;
  --white: #FFFFFF;

  --bungie-bright-white: #F9FAFE;
  --bungie-dark-blue: #14345A;
  --bungie-light-blue: #3FA2FC;
  --bungie-blue-glow: #3F99EF;
}

/* Global Styles */
html {
  background-color: #050813;
}

.cursor-default,
html {
  cursor: url('./assets/cursors/default.png'), auto;
}

/* Pointer cursor for clickable elements */
.cursor-pointer,
.mat-mdc-button-base,
.mat-mdc-icon-button,
.mat-mdc-fab,
.mat-mdc-mini-fab,
.mat-mdc-menu-item,
.mat-mdc-list-item,
.mat-mdc-tab,
.mat-mdc-checkbox,
.mat-mdc-radio-button,
.mat-mdc-slide-toggle,
.mdc-switch,
button, a, [role="button"] {
  cursor: url('./assets/cursors/pointer.png'), auto !important;
}

h1, h2 {
  font-family: 'HaloCE', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.glow-blue {
  filter: drop-shadow(0 0 1rem var(--bungie-blue-glow));
}

.overflow-visible {
  overflow: visible !important;
}